$darkRed: #dc1b24;
$lightRed: #eb1b24;
$lightGray: #d3d3d3;
$darkGray: gray;

.row {
    max-width: 100% !important;
    margin: 0 !important;
}

.logo-container {
    text-align: center;
    padding: 16px;
    margin: 0 auto;
    display: block;
    float: none;
}

.content {
    background-color: $lightRed;
    padding:10px 32px;
    margin: 0 auto;
    display: block;
    float: none;

    p {
        color: white;
        margin: 0;
    }


}

.present {
    .checklist-img {
        width: 35px;
        margin: 20px 0 16px;
    }

    .hallo {
        font-size: 1.1em;
        margin-bottom: 16px;
    }

    .thank-you {
        font-size: 1.5em;
        letter-spacing: 1px;
    }
}

.scan-qrcode {
    background-color: $darkRed;
    padding: 20px 32px;
    position: relative;

    p {
        font-weight: 1.4em;
        font-weight: bold;
    }

    .infomation-img {
        position: absolute;
        right: 16px;
        top: 16px;
    }
}


.formcontent {
    background-color: $darkGray;
    min-height: 650px;
    border: none;

    form {
        width: calc(100% - 64px);
        background-color: white;
        display: block;
        margin: 0 auto;
        padding: 20px;
        position: absolute;
        top: -70px;
        left: 0;
        right: 0;
        margin: auto;
        border-radius: 6px;
    }

    .form-check {
        margin: 0;
        padding: 2px;
        float: left;
        width: 50%;

        .from-check-wrapper {
            border: 1px solid green;
            border-radius: 4px;
            padding: 16px 16px;
            min-width: 100%;
            margin-bottom: 0px;
            float: left;
            display: block;

            .payment-img {
                margin-left: 8px;
                max-width: 60%;
            }
        }
    }

    .btn-submit {
        background-color: $lightRed;
        color: white;
        border-radius: 30px;
        padding: 16px 16px;
        border: none;
        margin: 0 auto;
        display: block;
        min-width: 250px;
        margin-top: 40px;
        font-size: 1.2em;
    }

    .fl-input {
        margin-bottom: 6px !important;
        padding: 8px;
    }

    // .fl-input:focus {
    //     outline: none !important;
    //     border:1px solid green !important;
    //     box-shadow: 0 0 2px green !important;
    // }
}

.privasi {
    background-color: $darkGray;
    text-align: center;
    .kartanu-gray {
        padding: 16px 0;
    }
    .privasi-title {
        font-size: 1.1em;
        font-weight: bold;
        padding: 16px 0;
    }
}

.apreciation {
    display: flex;
    padding-top: 24px;
    padding-bottom: 24px;
    .reward-text {
        margin-left: 20px;
        line-height: 1.5em;
    }
}

.imageinfowrapper {
    text-align: center;

    .imageinfo {
        max-width: 100%;
        margin-bottom: 8px;
    }
}

.fillcontent {
    padding: 24px 0 100px;
    text-align: center;

    p {
        font-size: 1.2em;
    }
}

.backto-main {
    background-color: white;
    border-top: 2px solid $lightRed;
    padding-top: 25px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;

    p {
        color: $lightRed;
        font-size: 1.3em;
    }
}

.footer {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    p {
        margin: 0;
    }
}

.modal {
    padding-top: 80px;
    top: 30%;
    padding-left: 8px;
    padding-right: 8px;

    .modal-dialog {
        max-width: 400px;
    }

    .top-body1 {
        background-image: url('../images/bg_popup.png');
        text-align: center;
        position: relative;
        min-height: 130px;

        .image1 {
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
            top: -60px;
            max-width: 300px;
            max-height: 100px;
            z-index: 2;
        }
        .image2 {
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
            top: 50px;
            max-width: 300px;
            z-index: 2;
        }
    }

    .bottom-body {
        .btn-submit {
            background-color: $lightRed;
            color: white;
            border-radius: 30px;
            padding: 10px 16px;
            border: none;
            margin: 0 auto;
            display: block;
            min-width: 90%;
            margin-top: 8px;
            font-size: 1.2em;
        }

        .btn-close {
            color: $darkGray;
            padding: 10px 16px;
            background-color: white;
            border: none;
            margin: 0 auto;
            margin-top: 16px;
            text-align: center;
            min-width: 100%;
        }
    }

}
