.row {
  max-width: 100% !important;
  margin: 0 !important;
}

.logo-container {
  text-align: center;
  padding: 16px;
  margin: 0 auto;
  display: block;
  float: none;
}

.content {
  background-color: #eb1b24;
  padding: 10px 32px;
  margin: 0 auto;
  display: block;
  float: none;
}
.content p {
  color: white;
  margin: 0;
}

.present .checklist-img {
  width: 35px;
  margin: 20px 0 16px;
}
.present .hallo {
  font-size: 1.1em;
  margin-bottom: 16px;
}
.present .thank-you {
  font-size: 1.5em;
  letter-spacing: 1px;
}

.scan-qrcode {
  background-color: #dc1b24;
  padding: 20px 32px;
  position: relative;
}
.scan-qrcode p {
  font-weight: 1.4em;
  font-weight: bold;
}
.scan-qrcode .infomation-img {
  position: absolute;
  right: 16px;
  top: 16px;
}

.formcontent {
  background-color: gray;
  min-height: 650px;
  border: none;
}
.formcontent form {
  width: calc(100% - 64px);
  background-color: white;
  display: block;
  margin: 0 auto;
  padding: 20px;
  position: absolute;
  top: -70px;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 6px;
}
.formcontent .form-check {
  margin: 0;
  padding: 2px;
  float: left;
  width: 50%;
}
.formcontent .form-check .from-check-wrapper {
  border: 1px solid green;
  border-radius: 4px;
  padding: 16px 16px;
  min-width: 100%;
  margin-bottom: 0px;
  float: left;
  display: block;
}
.formcontent .form-check .from-check-wrapper .payment-img {
  margin-left: 8px;
  max-width: 60%;
}
.formcontent .btn-submit {
  background-color: #eb1b24;
  color: white;
  border-radius: 30px;
  padding: 16px 16px;
  border: none;
  margin: 0 auto;
  display: block;
  min-width: 250px;
  margin-top: 40px;
  font-size: 1.2em;
}
.formcontent .fl-input {
  margin-bottom: 6px !important;
  padding: 8px;
}

.privasi {
  background-color: gray;
  text-align: center;
}
.privasi .kartanu-gray {
  padding: 16px 0;
}
.privasi .privasi-title {
  font-size: 1.1em;
  font-weight: bold;
  padding: 16px 0;
}

.apreciation {
  display: flex;
  padding-top: 24px;
  padding-bottom: 24px;
}
.apreciation .reward-text {
  margin-left: 20px;
  line-height: 1.5em;
}

.imageinfowrapper {
  text-align: center;
}
.imageinfowrapper .imageinfo {
  max-width: 100%;
  margin-bottom: 8px;
}

.fillcontent {
  padding: 24px 0 100px;
  text-align: center;
}
.fillcontent p {
  font-size: 1.2em;
}

.backto-main {
  background-color: white;
  border-top: 2px solid #eb1b24;
  padding-top: 25px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
}
.backto-main p {
  color: #eb1b24;
  font-size: 1.3em;
}

.footer {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.footer p {
  margin: 0;
}

.modal {
  padding-top: 80px;
  top: 30%;
  padding-left: 8px;
  padding-right: 8px;
}
.modal .modal-dialog {
  max-width: 400px;
}
.modal .top-body1 {
  background-image: url("../images/bg_popup.png");
  text-align: center;
  position: relative;
  min-height: 130px;
}
.modal .top-body1 .image1 {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: -60px;
  max-width: 300px;
  max-height: 100px;
  z-index: 2;
}
.modal .top-body1 .image2 {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 50px;
  max-width: 300px;
  z-index: 2;
}
.modal .bottom-body .btn-submit {
  background-color: #eb1b24;
  color: white;
  border-radius: 30px;
  padding: 10px 16px;
  border: none;
  margin: 0 auto;
  display: block;
  min-width: 90%;
  margin-top: 8px;
  font-size: 1.2em;
}
.modal .bottom-body .btn-close {
  color: gray;
  padding: 10px 16px;
  background-color: white;
  border: none;
  margin: 0 auto;
  margin-top: 16px;
  text-align: center;
  min-width: 100%;
}

/*# sourceMappingURL=mystyle.css.map */
