{% extends 'backoffice/base.html' %}
{% load static %}
{% block title%} {{ title }} {% endblock %}
{% block extra_header %} 
    <link href="{% static 'css/jquery-ui.min.css' %}" rel="stylesheet" type="text/css">
{% endblock %}
{% block content %}
<div class="box">
<div class="box-inner">
  <div class="box-title">
    <h2>Forms</h2>
  </div>
  <!-- /.box-title -->
  <div class="row">
    <div class="col-md-12">
        <h6 class="page-title-small mb30">Add user</h6>
        {% if form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
            <strong>{{ form.non_field_errors }}</strong>
            </div>
        {% endif %}
      <form method="{{ method|default:'POST'}}" action="{{ action }}" enctype="multipart/form-data">
          {% csrf_token %}
          {% for hidden in form.hidden_fields %}
            {{ hidden }}
          {% endfor %}
            <div class="form-group">
                <input type="hidden" name="username" value="{{ form.username.value }}">
            </div>
            
            <div class="form-group">
                <label >{{ form.name.label }}</label>
                {{ form.name }}
                {{ form.name.errors }}
            </div>
            <div class="form-group">
                <label >{{ form.mother_name.label }}</label>
                {{ form.mother_name }}
                {{ form.mother_name.errors }}
            </div>
            <div class="form-group">
                <label >{{ form.nik.label }}</label>
                {{ form.nik }}
                {{ form.nik.errors }}
            </div>
            <div class="form-group">
                <label >{{ form.gender.label }}</label>
                {{ form.gender }}
                {{ form.gender.errors }}
            </div>
            <div class="form-group">
                <label >{{ form.education.label }}</label>
                {{ form.education }}
                {{ form.education.errors }}
            </div>
            <div class="form-group">
                <label >{{ form.mobile_number.label }}</label>
                {{ form.mobile_number }}
                {{ form.mobile_number.errors }}
            </div>
            <div class="form-group">
                <label >{{ form.jenis_kelamin.label }}</label>
                {{ form.jenis_kelamin }}
                {{ form.jenis_kelamin.errors }}
            </div>
            <div class="form-group">
                <label >{{ form.tanggal_lahir.label }}</label>
                {{ form.tanggal_lahir }}
                {{ form.tanggal_lahir.errors }}
            </div>
            <div class="form-group">
                <label >{{ form.pendidikan.label }}</label>
                {{ form.pendidikan }}
                {{ form.pendidikan.errors }}
            </div>
            <div class="form-group">
                <label >{{ form.kecamatan.label }}</label>
                {{ form.kecamatan }}
                {{ form.kecamatan.errors }}
            </div>
            <div class="form-group">
                <label >{{ form.kelurahan.label }}</label>
                {{ form.kelurahan }}
                {{ form.kelurahan.errors }}
            </div>
            <div class="form-group">
                <label >{{ form.rt.label }}</label>
                {{ form.rt }}
                {{ form.rt.errors }}
            </div>
            <div class="form-group">
                <label >{{ form.rw.label }}</label>
                {{ form.rw }}
                {{ form.rw.errors }}
            </div>
            <div class="form-group">
                <label >{{ form.email.label }}</label>
                {{ form.email }}
                {{ form.email.errors }}
            </div>
            <div class="form-group">
                <label >{{ form.picture.label }}</label>
                {{ form.picture }}
                {{ form.picture.errors }}
            </div>
            <div class="form-group">
                <label >{{ form.ktp.label }}</label>
                {{ form.ktp }}
                {{ form.ktp.errors }}
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
      </form>
    </div>
  </div>
</div>
<!-- /.box-inner -->
</div>
<script type="text/javascript" src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>
<script>
    $( "#datepicker" ).datepicker({ dateFormat: 'yy-mm-dd' }).val();
    var user_type = '{{ user.type }}' 
    if (user_type == 'tim7') {
       $( "#id_type" ).children('option[value="tim7"]').hide();
    } 
</script>
{% endblock %}
{% block script %}
<script type="text/javascript" src="{% static 'assets/backend/js/vendor/jquery/jquery.js' %}"></script>
{{ form.media }}
{% endblock %}