{% extends 'backoffice/base.html' %}
{% load static %}
{% block title%} Index {% endblock %}
{% block content %}
<div class="box margin-top-profile">
    <div class="profile__content">
        <img src="{% static 'images/logo_nu.png' %}" class="logo_nu_home"/>
        <div class="profile__bio">
            <div class="my-sep1">
                <span>
                    W E L C O M E
                </span>
            </div>
            <h3 class="profile__name">KARTANU APPLICATION</h3>
            <p>Kabupaten Brebes</p>
            <hr>
        </div>
    </div>
</div>

<div class="stats">
    <h3>Information</h3>
    <div class="row">
        <div class="col-md-6 col-lg-4">
            <a href="{% url 'backoffice:users'%}">
                <div class="stat-box" style="background-color: #df9c39;">
                    <div class="stat-box-icon"><i class="fa fa-file"></i></div>
                    <strong> {{ users_count | default:'0' }}</strong>
                    <span>All Users</span>
                </div>
            </a>
        </div>

        <div class="col-md-6 col-lg-4">
            <a href="{% url 'backoffice:users'%}?status=to_print">
                <div class="stat-box" style="background-color: #363030;">
                    <div class="stat-box-icon"><i class="fa fa-file"></i></div>
                    <strong> {{ to_print | default:'0' }}</strong>
                    <span>To Print</span>
                </div>
            </a>
        </div>

        <div class="col-md-6 col-lg-4">
            <a href="{% url 'backoffice:users'%}?status=printed">
                <div class="stat-box" style="background-color: hsl(130, 86%, 26%);">
                    <div class="stat-box-icon"><i class="fa fa-file"></i></div>
                    <strong>{{ already_printed | default:'0' }}</strong>
                    <span>Already Printed</span>
                </div>
            </a>
        </div>
    </div>
</div>

{% endblock %}