<html>
 {% load static %}
<head>
  <title>Print Kartanu</title>
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.ico'%}">
  <style>
    @page {
      margin: 5mm 5mm;
    }


    @media screen, print {
      html, body {
        width: 210mm;
        height: 297mm;
      }

      .pagebreak { 
        page-break-before: always; 
      }

      ._card {
        display: flex;
        flex-direction: row;
        margin-bottom: 0.5mm;
      }

      ._card .left, ._card .right {
        /* border: 1px solid rgb(104, 102, 102); */
        width: 50%;
        justify-content: center;
        align-items: center;
        display: flex;
        padding: 0mm 0;
        position: relative;
      }

      ._card .left .order {
        position: absolute;
        top: 1mm;
        right: 2mm;
        font-size: 12px;
      }

      ._card .left .inner, ._card .right .inner {
        width: 92mm;
        height: 59mm;
        border: 1px solid gray;
      }

      ._card .left .inner {
        background-image: url("{% static 'images/depan.png' %}");
        -webkit-print-color-adjust: exact;
        background-size: cover;
        position: relative;
      }

      ._card .left .inner .wrapper-content {
        position: absolute;
        top: 18mm;
        display: flex;
        flex-direction: row;
        margin-left: 6mm;
      }

      ._card .left .inner .wrapper-content .image {
        margin-top: 1mm;
        width: 18mm;
      }

      ._card .left .inner .wrapper-content .image .profile {
        width: 17.5mm;
      }

      ._card .left .inner .wrapper-content .identity {
        margin-left: 3mm;
        margin-top: 1mm;
      }

      ._card .left .inner .wrapper-content .identity .key {
        font-size: 8.5px;
        font-family: "Open Sans";
        color: white;
        font-weight: 600;
      }

      ._card .left .inner .wrapper-content .identity table tr td {
        padding: 0;
        line-height: 2.5mm;
      }

      ._card .left .inner .wrapper-content .identity .value {
        font-size: 8.5px;
        padding-left: 1mm;
        font-family: "Open Sans";
        color: white;
        font-weight: 600;
      }

      /* right */
      ._card .right .inner{
        background-image: url("{% static 'images/belakang.png' %}");
        background-size: cover;
        -webkit-print-color-adjust: exact; 
        position: relative;
      }

      ._card .right .inner .right-content-wrapper{
        position: absolute;
        top: 10;
        font-family: "Open Sans";
        font-weight: bold;
        color: white;
        font-size: 7.5px;
        top: 32.5mm;
        text-align: center;
        width: 100%;
      }
     
    }
  </style>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@700;800&display=swap" rel="stylesheet">
</head>

<body>
  {% for user in users%}
  <div class="_card {% if forloop.counter|divisibleby:6 %} pagebreak {% endif %}">
    <div class="left">
      <div class="inner">
        <div class="wrapper-content">
          <div class="image">
            <img src="{{ user.user.picture.url }}" class="profile" />
          </div>
          <div class="identity">
            <table>
              <tr><td class="key">Nama</td><td class="value">: {{ user.user.name|upper }} </td></tr>
              <tr><td class="key">NIA</td><td class="value">: XXXXX</td></tr>
              <tr><td class="key">TTL</td><td class="value">: {{ user.user.kabupaten }}  {{ user.user.dob }} </td></tr>
              <tr><td class="key">Jenis Kelamin</td><td class="value">: {{ user.user.get_gender_display }} </td></tr>
              <tr><td class="key">Alamat</td><td class="value">: {{ user.user.kelurahan }} RT {{ user.user.rt }}/{{ user.user.rw }}</td></tr>
              <tr><td class="key">&nbsp;</td><td class="value">: Kec. {{ user.user.kecamatan }} </td></tr>
              <tr><td class="key">&nbsp;</td><td class="value">: Kab. {{ user.user.kabupaten }} - {{ user.user.provinsi }}</td></tr>
              <!-- <tr><td class="key">&nbsp;</td><td class="value">: Provinsi {{ user.user.provinsi }} </td></tr> -->
            </table>
          </div>
        </div>
      </div>
      <p class="order">{{user.order}}</p>
    </div>
    <div class="right">
      <div class="inner">
        <div class="right-content-wrapper">
          Dikeluarkan: {{ date | date:"d M Y"}}
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</body>

</html>