{% extends 'backoffice/base.html' %}
{% load static %}
{% load qr_tags %}
{% load templatehelpers %}
{% block title%} {{ title }} {% endblock %}
{% block content %}
<div class="box" id="content">
  <div class="box-inner">
    <!-- <div class="box-title">
      <h2>Print View</h2>
    </div> -->

    <div class="box-title">
      <div class="row">
        <div class="col-md-6">
          <label>PRINT</label>
          <form method="GET" action="{% url 'backoffice:print_card' %}" target="print_popup" id="form1">
            <div class="row">
              <div class="col-sm-4" ;>
                <div class="input-group">
                  <input type="number" name="start" class="form-control" id="start" placeholder="Start">
                </div>
              </div>

              <div class="col-sm-4" ;>
                <div class="input-group">
                  <input type="number" name="end" class="form-control" id="end" placeholder="End">
                </div>
              </div>

              <div class="col-sm-4" style="text-align: left;">
                <button type="submit" id="btn-search-fix-h" class="btn btn-primary" onclick="return validate();">
                  PRINT
                </button>
              </div>
            </div>
          </form>
        </div>
        <div class="col-md-6">
          <label>MARK AS PRINTED</label>
          <form method="POST" action="{% url 'backoffice:mark_as_print' %}" id="form2">
            {% csrf_token %}
            <div class="row">
              <div class="col-sm-4" ;>
                <div class="input-group">
                  <input type="number" name="start" class="form-control" id="start2" placeholder="Start" required>
                </div>
              </div>

              <div class="col-sm-4" ;>
                <div class="input-group">
                  <input type="number" name="end" class="form-control" id="end2" placeholder="End" required>
                </div>
              </div>

              <div class="col-sm-4" style="text-align: left;">
                <button type="submit" id="btn-search-fix-h" class="btn btn-primary" onclick="return validate2()">
                  MARK AS PRINT
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Print Order</th>
          <th>Name</th>
          <th>Card Number</th>
          <th>Kecamatan</th>
          <th>Kelurahan</th>
        </tr>
      </thead>
      <tbody>
        {% for us in users %}
        <tr>
          <th scope="row">{{us.user.order}}</th>
          <td>{{ us.user.name }}</td>
          <td>{{ us.user.id_card_number }}</td>
          <td>{{ us.user.kecamatan }}</td>
          <td>{{ us.user.kelurahan }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>


    <div class="pull-right">
      <p>Page {{ users.number }} of {{ users.paginator.num_pages }}</p>
      <nav aria-label="">
        <ul class="pagination">
          {% if users.has_previous %}
          <li class="page-item"><a class="page-link" href="{% relative_url 1 'page' request.GET.urlencode %}">First</a>
          </li>
          <li class="page-item"><a class="page-link"
              href="{% relative_url users.previous_page_number 'page' request.GET.urlencode %}">Previous</a>
          </li>
          {% endif %}
          <!-- {% for i in users.paginator.page_range %}
          <li class="page-item"><a class="page-link {% if users.number == i %}is-active{% endif %}"
              href="{% relative_url i 'page' request.GET.urlencode %}">{{forloop.counter}}</a></li>
          {% endfor %} -->
          {% if users.has_next %}
          <li class="page-item"><a class="page-link"
              href="{% relative_url users.next_page_number 'page' request.GET.urlencode %}">Next</a>
          </li>
          {% endif %}
        </ul>
      </nav>
    </div>
  </div>

</div>
{% endblock %}

{% block script %}
{% csrf_token %}
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="{% static 'js/loading.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script type="text/javascript">
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
  function validate() {
    var min = parseInt(document.getElementById('start').value);
    var max = parseInt(document.getElementById('end').value);
    if (min > max) {
      alert('End must greter than start');
      return false;
    }
  }

   function validate2() {
    var min = parseInt(document.getElementById('start2').value);
    var max = parseInt(document.getElementById('end2').value);
    if (min > max) {
      alert('End must greter than start');
      return false;
    }
  }

</script>
{% endblock %}