{% extends 'backoffice/base.html' %}
{% load static %}
{% load templatehelpers %}
{% block title%} {{ title }} {% endblock %}
{% block content %}
<div class="box" id="content">
  <div class="box-inner">
    <div class="box-title">
      <h2>User</h2>
    </div>
    <div class="box-title">
      <form method="GET" action="">
        <div class="row">
          <div class="col-sm-3">
            <div class="input-group">
              <input type="text" name="search" class="form-control" placeholder="Name / NIK"
                value="{{ filter.search }}">
            </div>
          </div>

          <div class="col-sm-2">
            <div class="input-group">
              <input type="text" name="counter" class="form-control" placeholder="Print Counter"
                value="{{ filter.counter }}">
            </div>
          </div>

          <div class="col-sm-2">
            <button type="submit" id="btn-search-fix-h" class="btn btn-primary">
              Submit
            </button>
          </div>

          <div class="col-sm-3">
            <a href="{% url 'backoffice:add_user'%}" class="btn btn-primary">Add User</a>
          </div>

        </div>
      </form>
    </div>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Kecamatan</th>
          <th>Kelurahan</th>
          <th>Order</th>
          <th>Print Counter</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
        <tr>
          <th scope="row"><a class="link" href="{% url 'backoffice:user_preview' user.id %}"> {{ user.id }} </a></th>
          <td><a class="link" href="{% url 'backoffice:user_preview' user.id %}"> {{ user.name }} </a></td>
          <td>{{ user.kecamatan }}</td>
          <td>{{ user.kelurahan }}</td>
          <th>{{ user.order }}</th>
          <td>{{ user.print_counter }}</td>
          <td>
            <button onclick=add_to_print("{% url 'backoffice:add_to_print' user.id %}") class="btn btn-primary">Re
              Print</button>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <!-- <div class="pull-right">
        <nav aria-label="">
          <ul class="pagination">
            {% if formulirs.has_previous %}
              <li class="page-item"><a class="page-link" href="{% relative_url 1 'page' request.GET.urlencode %}">First</a></li>
              <li class="page-item"><a class="page-link" href="{% relative_url formulirs.previous_page_number 'page' request.GET.urlencode %}">Previous</a></li>
            {% endif %}
            {% for i in formulirs.paginator.page_range %}
              <li class="page-item"><a class="page-link {% if formulirs.number == i %}is-active{% endif %}" href="{% relative_url i 'page' request.GET.urlencode %}">{{forloop.counter}}</a></li>
            {% endfor %}
            {% if formulirs.has_next %}
              <li class="page-item"><a class="page-link" href="{% relative_url formulirs.next_page_number 'page' request.GET.urlencode %}">Next</a></li>
            {% endif %}
          </ul>
        </nav>
      </div> -->

    <div class="pull-right">
      <p>Page {{ formulirs.number }} of {{ formulirs.paginator.num_pages }}</p>
      <nav aria-label="">
        <ul class="pagination">
          {% if formulirs.has_previous %}
          <li class="page-item"><a class="page-link" href="{% relative_url 1 'page' request.GET.urlencode %}">First</a>
          </li>
          <li class="page-item"><a class="page-link"
              href="{% relative_url formulirs.previous_page_number 'page' request.GET.urlencode %}">Previous</a></li>
          {% endif %}
          <!-- {% for i in formulirs.paginator.page_range %}
            <li class="page-item"><a class="page-link {% if formulirs.number == i %}is-active{% endif %}"
                href="{% relative_url i 'page' request.GET.urlencode %}">{{forloop.counter}}</a></li>
            {% endfor %} -->
          {% if formulirs.has_next %}
          <li class="page-item"><a class="page-link"
              href="{% relative_url formulirs.next_page_number 'page' request.GET.urlencode %}">Next</a></li>
          {% endif %}
        </ul>
      </nav>
    </div>
  </div>

</div>
{% endblock %}

{% block script %}
{% csrf_token %}
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="{% static 'js/loading.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script type="text/javascript">
  // $(function () {
  //   $('[data-toggle="tooltip"]').tooltip()
  // })
  // (function ($) {
  //   $('#form2').on('submit', function (e) {
  //     $("#content").loading({
  //       stoppable: true
  //     });
  //     e.preventDefault();
  //     var form = $(this);
  //     var url = form.attr('action');
  //     const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
  //     const button = $("#btn_clicked").val();
  //     if (button === 'print') {
  //       $.ajax({
  //         type: 'post',
  //         url: url,
  //         data: form.serialize(),
  //         headers: {
  //           'X-CSRFToken': csrftoken
  //         },
  //         success: function (data) {
  //           console.log(data)
  //           window.location.reload();
  //           $('#content').loading('stop');
  //         },
  //         error: function (xhr, status, error) {
  //           console.log(xhr, status, error)
  //           $('#content').loading('stop');
  //           alert("something went wrong")
  //         }
  //       });
  //     }
  //   })
  // }(jQuery));
  function add_to_print(url) {
    $("#content").loading({stoppable: true});
    var form = $(this);
    $.ajax({
      type: 'get',
      url: url,
      success: function (data) {
        $('#content').loading('stop');
        console.log(data)
        alert("success add to print queue")
      },
      error: function (xhr, status, error) {
        console.log(xhr, status, error)
        $('#content').loading('stop');
        alert("something went wrong")
      }
    });
  }

</script>
{% endblock %}