{% extends 'backoffice/base.html' %}
{% load static %}
{% block title%} {{ title }} {% endblock %}
{% block content %}
<div class="box margin-top-profile">
  <div class="profile__content">
    <div class="profile__bio">
      <div class="my-sep1">
        <span>
          {{ user.position }}
        </span>
      </div>
      <h3 class="profile__name">{{ user.name }}</h3>
      <p>{{ user.id_card_number }}</p>
      <hr>
      <div class="overview align-left">
        <div class="row">
          <div class="col-sm-6">
            <ul>
              <li><strong>NIK</strong><span>{{ user.nik | default:'-'}}</span></li>
              <li><strong>Mobile Number</strong><span>{{ user.mobile_number | default:'-' }}</span></li>
              <!-- <li><strong>Wilayah</strong><span>{{ user.region_type | default:'-' }}</span></li> -->
              <!-- <li><strong>Provinsi</strong><span>{{ user.province | default:'-' }}</span></li>
              <li><strong>Kabupaten</strong><span>{{ user.kabupaten | default:'-' }}</span></li> -->
              <li><strong>Kecamatan</strong><span>{{ user.kecamatan | default:'-' }}</span></li>
              <li><strong>Kelurahan</strong><span>{{ user.kelurahan | default:'-' }}</span></li>
              <li><strong>RT / RW</strong><span>{{ user.rt | default:'-' }} / {{ user.rw | default:'-' }}</span></li>
            </ul>
          </div>
          <div class="col-sm-6">
              <ul>
                <li><strong>Jenis Kelamin</strong><span>{{ user.get_gender_display | default:'-' }}</span></li>
                <li><strong>Foto KTP</strong><span>{% if user.ktp %}<a href="{{ user.ktp.url }}" target="_blank">Klik Link</a>{% else %}Foto KTP belum di masukan{% endif %}</li>
                <li><strong>Foto Profil</strong><span>{% if user.picture %}<a href="{{ user.picture.url}}" target="_blank">Klik Link</a>{% else %}Foto KTP belum di masukan{% endif %}</li>
                <li><strong>Print Counter</strong><span>{{ user.print_counter  }}</span></li>
                <li><strong>Email</strong><span>{{ email.print_counter  }}</span></li>
              </ul>
            </div>  
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
